<!--
  Generated template for the DetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{libro.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img src="../assets/imgs/{{libro.cover}}"/>
    <ion-card-content>
      <ion-card-title> {{libro.title}} </ion-card-title>
      <p><b>Autor:</b> {{libro.author}}</p>
      <p><b>Año:</b> {{libro.year}}</p>
      <p><b>ISBN:</b> {{libro.isbn}}</p>
      <p><b>Editorial:</b> {{libro.editorial}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
