<ion-header>
  <ion-navbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Bienvenido a iBiblioteca!
    </ion-card-header>
    <ion-card-content>
      iBiblioteco es una aplicación desarrollada con ionic que permite gestionar una biblioteca de un centro educativo.
      Para acceder a la biblioteca pulse en el siguiente botón:
      <button ion-button icon-left clear (click)="goIBiblioteca()">
        <ion-icon name="school"></ion-icon> Acceso a iBiblioteca
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Información sobre el autor
    </ion-card-header>
    <ion-card-content>
      Apllicación desarrrollada por Juan Sánchez Marín
      <button ion-button icon-left clear (click)="goAuthor()">
        <ion-icon name="person"></ion-icon> Consultar información
      </button>
    </ion-card-content>
  </ion-card>

</ion-content>
