<!--
  Generated template for the CurriculumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Curriculum</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="listaTrabajos">
  <ion-item *ngFor="let trabajo of listaTrabajos" text-wrap>
    <h2>{{trabajo.fecha}}</h2>
    <p>{{trabajo.desc}}</p>
  </ion-item>
</ion-list>
</ion-content>
