<!--
  Generated template for the AuthorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Autor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      Información
    </ion-card-header>
    <ion-card-content>
      <p>
      Aplicacion desarrollada por {{autor.name}}. A continuación puedes consultar más información sobre el autor
    </p>
      <button ion-button icon-left clear (click) = "goCurriculum()">
        <ion-icon name="book"></ion-icon> Currículum vítae
      </button>
      <button ion-button icon-left clear>
        <ion-icon name="mail"></ion-icon> <b>Correo: </b> {{autor.email}}
      </button>
      <button ion-button icon-left clear>
        <ion-icon name="logo-twitter"></ion-icon> <b>Twitter: </b> {{autor.twitter}}
      </button>
      <button ion-button icon-left clear>
        <ion-icon name="call"></ion-icon> <b>Teléfono: </b> {{autor.phone}}
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
