<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>iBiblioteca</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >
  <ion-list *ngIf="listaLibros">
    <button *ngFor="let libro of listaLibros" text-wrap ion-item (click)="goDetalle(libro)">
      <ion-thumbnail item-start>
        <img src="../assets/imgs/{{libro.cover}}">
      </ion-thumbnail>
      <h2>{{libro.title}}</h2>
      <p><b>Autor:</b>{{libro.author}}</p>
      <p><b>Año:</b>{{libro.year}}</p>
    </button>
  </ion-list>
</ion-content>
